body {

    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.text-primary {
    color: #fd6e0a;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #000000;
}

.btn-primary {
    background-color: #fd6e0a;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;


}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

.header {
    background-color: #fff8f3;
}

.banner {
    padding: 3px 30px 30px 30px 150px;
    display: flex;
    align-items: center;

}

.banner .profile-image {
    width: 400px;
    height: 400px;   
}